[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=app_user
ExecStart=/usr/bin/java -jar /var/hello/hello-world.jar 
SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target